/**
* Your CSS here
**/

body{
    text-shadow: 1px 1px 1px;
    font-family: 'Muli', sans-serif;
    color: rgb(184, 195, 202)
}

@keyframes colorfade{
    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(-5px);
    }
}

.dark{
    text-shadow: 1px 1px 1px;
    font-family: 'Muli', sans-serif;
    color: rgb(184, 195, 202);
    background-color: #012340;
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    
}

.light{
    text-shadow: 1px 1px 1px;
    font-family: 'Muli', sans-serif;
    color: rgb(44, 46, 51);
    background:
    linear-gradient(-45deg, #F7F2EF 25%, transparent 25%, transparent 75%, #50A5FF 75%, #50A5FF) 0 0,
    linear-gradient(-45deg, #50A5FF 25%, transparent 25%, transparent 75%, #F7F2EF 75%, #F7F2EF) 1em 1em,
    linear-gradient(45deg, #50A5FF 17%, transparent 17%, transparent 25%, #50A5FF 25%, #50A5FF 36%, transparent 36%, transparent 64%, #50A5FF 64%, #50A5FF 75%, transparent 75%, transparent 83%, #50A5FF 83%) 1em 1em;
    background-color: #F7F2EF;
    background-size: 2em 2em;
}

.paddedbox{
    padding-top: 10px
}
.links{
    background-color: #95A2C7
}

.dark .no-background,
.light h2.no-background{
    background-color: transparent
}

.poster-image{
    display: grid;
}

.poster-image h2{
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 2;
}

.poster-image img{
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 1;
}

.gallery{
    display: flex;
}

.gallery img{
    flex-shrink: 0;
    margin-right: 10px;
    object-fit: fill;
    height: 200px;
}

.gallery-window{
    overflow: scroll;
    width: 375px
}

.dark h1{
    display: inline-block;
    background-color: #012340;
    font-family: 'Muli', sans-serif;
    color:#024873;
    font-size: 58px;
    animation: colorfade .5s ease infinite alternate
}

.light h1{
    display: inline-block;
    background-color: #F7F2EF;
    font-family: 'Muli', sans-serif;
    color: #5D6780;
    font-size: 58px;
    animation: colorfade .5s ease infinite alternate
}

.dark h2{
    display: inline-block;
    background-color: #012340;
    font-family: 'Dosis', sans-serif;
    color: #F2E41D
}

.light h2{
    display: inline-block;
    background-color: #F7F2EF;
    font-family: 'Dosis', sans-serif;
    color: #FFC74F
}

.dark h3{
    display: inline-block;
    background-color: #012340;
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #F28729
}

.light h3{
    display: inline-block;
    background-color: #F7F2EF;
    font-family: 'Dosis', sans-serif;
    color: #6286B6
}